@mixin flex-centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-space-between-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
