$font-family: 'Roboto', sans-serif;
$color-white: #fff;
$color-black: #000;
$color-gray: #616070;
$color-blue: #00acdc;
$card-width: 200px;
$card-padding: 18px;
$card-radius: 8px;
$font-small: 13px;
$star-size: 16px;
$star-gap: 5px;
