@use './variables' as *;
@use './mixins' as *;

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;

  box-sizing: border-box;
  width: 200px;
  padding: 18px;
  border-radius: 8px;

  background-color: $white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  &__image {
    align-self: center;

    width: 160px;
    height: 134px;

    background-image: url('../images/imac.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__title {
    margin: 0;

    font-family: $font-family;
    font-size: $font-sm;
    font-weight: 500;
    color: $black;
  }

  &__code {
    margin: 0;
    font-family: $font-family;
    font-size: $font-sm;
    color: $gray;
  }

  &__rating {
    @include flex-between;
  }

  &__reviews {
    margin: 0;
    font-family: $font-family;
    font-size: $font-sm;
    color: $black;
  }

  &__price {
    @include flex-between;
  }

  &__price-title {
    font-family: $font-family;
    font-size: $font-sm;
    color: $gray;
  }

  &__price-value {
    font-family: $font-family;
    font-size: $font-sm;
    font-weight: 700;
    color: $black;
  }

  &__button {
    @include flex-center;

    height: 40px;
    border: 1px solid $blue;
    border-radius: 5px;

    font-family: $font-family;
    font-weight: 700;
    color: $white;
    text-decoration: none;

    background-color: $blue;

    &:hover {
      color: $blue;
      background-color: $white;
    }
  }
}
