@use './variables' as *;
@use './mixins' as *;

.card {
  width: 200px;
  padding: 18px;
  box-sizing: border-box;

  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  gap: 20px;

  &__image {
    width: 160px;
    height: 134px;
    background-image: url('../images/imac.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-self: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__title {
    margin: 0;
    font-size: $font-sm;
    font-weight: 500;
    font-family: $font-family;
    color: $black;
  }

  &__code {
    margin: 0;
    font-size: $font-sm;
    font-family: $font-family;
    color: $gray;
  }

  &__rating {
    @include flex-between;
  }

  &__reviews {
    margin: 0;
    font-size: $font-sm;
    font-family: $font-family;
    color: $black;
  }

  &__price {
    @include flex-between;
  }

  &__price-title {
    font-size: $font-sm;
    font-family: $font-family;
    color: $gray;
  }

  &__price-value {
    font-size: $font-sm;
    font-weight: 700;
    font-family: $font-family;
    color: $black;
  }

  &__button {
    @include flex-center;
    height: 40px;

    background-color: $blue;
    border: 1px solid $blue;
    border-radius: 5px;

    font-family: $font-family;
    font-weight: 700;
    color: $white;
    text-decoration: none;

    &:hover {
      background-color: $white;
      color: $blue;
    }
  }
}
