@use './variables';
@use './mixins';
@use './stars';
@use './card';

body {
  display: flex;
  justify-content: center;

  margin: 0;
  padding-top: 40px;

  font-family: variables.$font-family;

  background-color: #f3f3f3;
}
