@use './variables';
@use './mixins';
@use './stars';
@use './card';

body {
  margin: 0;
  font-family: variables.$font-family;
  background-color: #f3f3f3;

  display: flex;
  justify-content: center;
  padding-top: 40px;
}
