.stars {
  width: 100%;
  height: 16px;
}

.stars::before {
  content: '';
  display: block;

  width: calc(5 * 16px + 4 * 5px); /* 5 estrelas + gaps */
  height: 16px;

  background-image: url('../images/star.svg');
  background-repeat: repeat-x;
  background-size: 16px 16px;
}

/* ⭐⭐☆☆☆ */
.stars--2::before {
  background-image:
    url('../images/star-active.svg');

  background-repeat: repeat-x;
  background-size: 16px 16px;
  background-position: 0 0, calc(2 * 16px + 2 * 5px) 0;
}

/* ⭐⭐⭐⭐☆ */
.stars--4::before {
  background-image:
    url('../images/star-active.svg');

  background-repeat: repeat-x;
  background-size: 16px 16px;
  background-position: 0 0, calc(4 * 16px + 4 * 5px) 0;
}
